.post-page-wrapper {
  width: 100%;
  padding: 11.688rem 0 10rem;

  .post-list-wrapper {
    max-height: 37.563rem;
    overflow: hidden;
    overflow-y: scroll;
    background: #ffffff;
    box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.1),
      0px 5px 15px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    padding: 0 1.875rem;
    .list-group {
      &-item {
        border-right: 0;
        border-left: 0;
        padding: 1.75rem 0;
        font-size: 0.875rem;
        font-family: "Open Sans";
        line-height: 1rem;
        font-weight: 400;
        color: #32325d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .numered {
          font-size: 0.875rem;
          line-height: 1rem;
          color: #525f7f;
          margin-right: 0.625rem;
          font-weight: 700;
        }
        .list-buttons {
          display: flex;
          column-gap: 1.25rem;
        }
        &-desc {
          margin-right: 2.938rem;
        }
      }
    }
  }
  .post-detail {
    padding: 1.875rem;
    overflow: hidden;
    a {
      text-decoration: none;
      color: #32325d;
    }
    .post-body {
      margin-top: 2rem;
      padding: 1rem;
      border-radius: 6px;
      border: 1px solid #e9ecef;
    }
    .post-title {
      padding: 1rem;
      background: linear-gradient(340.03deg, #8ddad5 8.42%, #00cdac 91.45%);
      border-radius: 6px;
      color: white;

      h2 {
        font-size: 1.875rem;
      }
    }
  }

  .profile-page {
    .top {
      padding-bottom: 3.75rem;
      border-bottom: 1px solid #e9ecef;
    }
    .bottom {
      padding-top: 3.75rem;
      .col-md-12 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        column-gap: 1.25rem;
      }
      p {
        display: flex;
        justify-content: center;
        max-width: 51.25rem;
        margin-bottom: 1.25rem;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.875rem;
        letter-spacing: -0.3px;
        color: #525f7f;
      }
      a {
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: -0.3px;
        color: #4a90e2;
      }
    }
    padding: 1.875rem;
    overflow: hidden;
    h5 {
      font-weight: 400;
      font-size: 1.75rem;
      line-height: 2.375rem;
      color: #32325d;
      margin-bottom: 0.25rem;
    }
    h6 {
      font-size: 1rem;
      line-height: 1.125rem;
      color: #32325d;
      font-weight: 400;
      margin: 0;
    }
    &-infos {
      margin-top: 1.875rem;
      font-size: 0.875rem;
      line-height: 1.625rem;
      .left {
        color: #adb5bd;
      }
      .right {
        font-weight: 600;
        letter-spacing: 0.11px;
        color: #525f7f;
      }
      .website {
        color: $primary;
      }
    }
  }
}

.post-detail-modal {
  h5 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #32325d;
  }
  .modal-content {
    min-width: 31.25rem;
    min-height: 26.25rem;
    input,
    textarea {
      border: 1px solid #cad1d7;
      border-radius: 4px;
      width: 100%;
      padding: 0.75rem;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.188rem;
      color: #8898aa;
      outline: none;
    }
    h5 {
      color: #525f7f;
      margin-bottom: 0.625rem;
    }
    .modal-header {
      padding: 1rem 1.25rem;
      border-bottom-color: #e9ecef;
      display: flex;
      align-items: center;
      .btn-close {
        width: 0.5em;
        height: 0.5em;
      }
      .modal-title {
        margin-bottom: 0;
      }
    }
    .modal-body {
      padding: 1.625rem 1.5rem;
    }
    .modal-forms + .modal-forms {
      margin-top: 1rem;
    }
    .modal-footer {
      border-bottom-color: #e9ecef;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1.625rem 1.5rem;
    }
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  &-border {
    position: relative;
    z-index: 100;
  }
}
